body {
  color:#FFD700;
  background:rgb(90, 90, 90);
  text-align: center;
  font-size: 50px;
}

hr {
  height:2px;
  border:none;
  background-color:white;
}

p {
  font-size: 30px;
  /**line-height: 50px;*/
}

ol, li{
  font-size: 30px;
}

img{
  width: 200px;
  height: 200px;
}

h2 {
  margin: 30px;
  font-size: 50px;
}

img {
  width: 400px;
  height: 400px;
}

div {
  text-align: left;
}