body{
    background-image: url('https://p0.pikist.com/photos/925/391/background-paper-texture-halloween-old-paper-blood-hand-bloody-hand-frame.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center
}